


.corpo{
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

body{
    background-color: whitesmoke;
}


.exibicao{
    margin-left: 25%;    
    width: 50%;
    align-content: center;
    background-color: blue;
    color: white;
}

.entrada{
    margin-left: 25%;    
    width: 50%;
    align-content: center;
    background-color: floralwhite;
    color: black;
    text-align: left;
}

#msg-erro{
    display: none;
}


#nave{
	background-color: #7f7a80;
}

#nave a{
	color: white;
}

#dropdown{
	background-color: #7f7a80;
}

#dropdown :hover{
	background-color: black;
}

#nave a:hover{
	color: greenyellow;
}
