
label{
    background-color: whitesmoke;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.cabecalho{
    background-color: whitesmoke;
    text-align: left;   
}

.bordas{
    border: 2px solid black;
    border-radius: 5%;
}

.bordas-msg{
    border: 1px solid black;
    padding: 15px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0.5%;
    
}

.corpo{
    background-color: white;
}

.msg-aviso{
    background-color: greenyellow;
    margin: 10px 0 10px 0;
    border: 3px solid black;
    border-radius: 15px;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

.form-msg{
    margin-top: 30px;
    background-color: whitesmoke;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.divisoria{
    background-color: lightsteelblue;
    height: 100px;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#mensagem-divisoria{
    background-color: lightsteelblue;
    color: white;
    font-size: 45px;
    
}