
.modal-content{
  /*background-color: darkcyan;*/
  background-color: white;
  border-radius: 50px;
  border-style: none;
}
.btn-link{
  color:white;
}
.modal-heading h2{
  color: black;
  margin-top: 20px;
  font-family: Helvetica, sans-serif;
}
.modal-dialog{
  margin-top: 15%;
}

#imageBody{
  background-image:url("https://agenciawck.com.br/wp-content/uploads/2014/03/triangulos-everest.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;
}