


input[type=text],input[type=date],input[type=number], input[type=password], select, textarea{
	
	border: 2px solid black;
	border-radius: 15px;
	width: 100%;
	font-family: verdana;
	height: 40px;
}

label{
	font-family: verdana;

}

.corpo{
	background-color: whitesmoke;
	color: black;
}

#nave{
	background-color: #7f7a80;
}

#nave a{
	color: white;
}

#dropdown{
	background-color: #7f7a80;
}

#dropdown :hover{
	background-color: black;
}

#nave a:hover{
	color: greenyellow;
}


#content{
	background-color: whitesmoke;
}

#margens{
	margin-top: 15px;
}